* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
/public/storage
/node_modules
/storage/*.key
/storage/fonts
/storage/debugbar
/vendor/*
.env
/package-lock.json
/.idea
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
Homestead.json
Homestead.yaml
